.contato {
    padding: 10rem 0;        
}

.container-contato {
    display: flex;   
}

.formulario,
.contato-alternativo {
    flex: 1;
}

.contato-alternativo {
   display: flex;
   flex-direction: column;
   align-items: center; 
   gap: 2rem; 
   text-align: center;
}

.formulario {
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

.input-contato,
.textarea-mensagem {
    padding: 1rem;
    border-radius: 0.5rem;  
    border: 2px solid transparent;  
    box-shadow: -4px 4px 4px 0px rgba(0, 0, 0, 0.25);
    font-size: 2rem;
    outline: 0;  
}

.textarea-mensagem {
    height: 15rem;
}

.input-contato:focus,
.textarea-mensagem:focus {
    border: 2px solid #222;  
}

.btn-enviar {
    width: 20rem;
    border: none;
    padding: 1rem;
    border-radius: 1rem;
    background-color: #222;
    color: #fff;
    font-size: 3rem;
    cursor: pointer;
    transition: transform 0.2s;
}

.btn-enviar:hover,
.btn-whatsapp-contato:hover {
    transform: scale(1.05);
}

.btn-enviar.loading {
    width: 2rem;
    height: 2rem;
    border-radius: 50%;
    border: 4px solid transparent;
    border-top: 4px solid #888; 
    border-right: 4px solid #888; 
    border-bottom: 4px solid #888;
    background-color: transparent;
    animation: loading 1s linear infinite;
}

.texto-contato {
    color: #222;
    font-size: 2.5rem; 
}

.texto-contato > span {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    color: #222;
    font-weight: bold;
}

.btn-whatsapp-contato {
    width: 25rem;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    color: #eee;
    background: linear-gradient(45deg, #25D366, #128C7E);
    padding: 1rem;
    border-radius: 2rem;
    font-size: 3rem;
    transition: transform 0.2s;
}

.btn-whatsapp-contato > svg {
    width: 4rem;
    height: 4rem;
}

#ou {
    font-size: 6rem;
    color: #424242;
}

@keyframes loading {
    to{
        transform: rotate(0deg)
    }
    from {
        transform: rotate(-360deg);
    }
}

@media (max-width: 480px) {
    .contato {
        height: auto;
        padding-top: 10rem;        
    }

    .container-contato {
        flex-direction: column;
        gap: 12rem;
    }

    .btn-enviar {
        width: 100%;
    }

    .btn-whatsapp-contato {
        width: 100%;
    }
}