.btn-padrao {
    width: 200px;
    font-size: 2rem;
    border: 1px solid #222;
    background-color: #222;
    border-radius: 2rem;
    padding: 1rem;
    color: #fff;
    transition: 0.4s;
    cursor: pointer;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
}

.btn-padrao:hover {    
    background-color: transparent;
    color: #222;
}

.btn-padrao > svg {
    width: 2.5rem;
    height: 2.5rem;
    fill: #eee;
}

.btn-padrao:hover > svg {    
    fill: #222;
}