.header {
    position: fixed;
    width: 100%;
    height: 8rem; 
    background: linear-gradient(to right, #D0D0D0, #F1F1F1);  
    z-index: 999; 
    transition: opacity 0.4s;  
}

.logo > h1,
.lista-navegacao * {
    color: #222;
}

.logo {
    text-decoration: none;  
    word-spacing: 1rem;       
}

.logo > h1 {
    font-size: 3rem; 
    font-weight: 400;
    letter-spacing: 0.3rem; 
}

.logo > h1 > span {
    font-weight: 500;
}

.header-content {
    display: flex;
    height: 100%;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid #222;  
}

.navegacao {
    font-size: 2.2rem;   
    height: 100%; 
}

.lista-navegacao {
    display: flex;
    align-items: center;
    list-style: none;
    gap: 8rem;
    height: 100%;
}

.nav-item {
    display: block;
    padding-bottom: 0.2rem;
    position: relative;
}

.nav-item::after {
    content: '';
    background-color: #222;
    width: 0%;
    height: 2px;
    position: absolute;
    left: 0;
    bottom: 0;
    transition: width 0.2s ease-in;
}

.nav-item:hover::after {
    width: 100%;
}

.header-visivel {
    opacity: 1;
}

.header-oculto {
    opacity: 0;
}

.btn-hamburguer {
    display: none; 
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 0.5rem;  
}

.btn-hamburguer > span {
    width: 2.5rem;
    height: 0.4rem;
    background-color: #00C853;
    border-radius: 2rem; 
    transition: transform 0.2s;
}

.btn-hamburguer.ativado > span:nth-child(1) {
    transform: rotate(45deg) translateY(6px);
}

.btn-hamburguer.ativado > span:nth-child(2) {
    display: none;
}

.btn-hamburguer.ativado > span:nth-child(3) {
    transform: rotate(-45deg) translateY(-6px);;
}

@media (max-width: 480px) {
    .btn-hamburguer {
        display: flex;    
    }

    .logo > h1 {
        font-size: 2.5rem;
    }

    .lista-navegacao {
        display: none;
    }

    .navegacao {
        display: flex;
    }

    .lista-navegacao {
        display: none;
        position: fixed;
        top: 0;
        right: 0;
        width: 50%;
        height: 100%;
        background-color: #000;   
        padding-left: 8rem;     
    }
}