.titulo-section {
    display: inline-block;
    font-size: 7rem;
    font-weight: 400;
    color: var(--cor-titulo);
    margin-bottom: 4rem;
    position: relative;
}

.titulo-section::after {
    content: '';
    width: 50%;
    height: 4px;
    background-color: var(--cor-titulo);
    position: absolute;
    left: 0;
    bottom: 0;
}

@media (max-width: 480px) {
    .titulo-section {
        font-size: 4.5rem;
    }
}