.introducao {
    width: 100%;   
    padding-top: 12rem; 
    min-height: 100vh;
}

.introducao-content {
    width: 100%;        
    display: flex;    
    justify-content: space-between;
    align-items: center;
    gap: 0rem;  
    padding: 8rem 5rem;
    border-radius: 2rem;
    background: linear-gradient(to right, #080808, #222, #080808); 
    margin-bottom: 2rem;
}

.introducao-descricao,
.intro-tecnologias {    
    flex: 1;
}

.cargo,
.introducao-texto {
    margin-bottom: 3rem;
}

.cargo > p {
    color: #00C853;
    font-size: 8rem;
    line-height: 8rem;
    letter-spacing: 0.5rem;
}

.cargo-texto::after {
    content: '|';
    animation: cursor 1.1s infinite step-start;
    animation-delay: 1.5s;
    color: #888;
}

.introducao-texto {
    color: #888;
    font-size: 2.5rem;    
    display: block;    
}

.redes-sociais {
    display: flex;
    gap: 2rem;
}

.redes-sociais > a {
    width: 5rem;
    height: 5rem;
    background-color: #444;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    cursor: pointer;
    transition: transform 0.4s;
}

.redes-sociais > a:hover {
    transform: scale(1.1);
    background-color: #ccc;
}

.redes-sociais > a > svg {
    width: 60%;
    height: 60%;
    color: #000;
}

.intro-tecnologias {
    display: grid;   
    grid-template-columns: repeat(3, 100px);      
    justify-content: end;   
    gap: 2rem 0;
    height: 100%; 
    user-select: none; 
}

.intro-tecnologias > img {
    display: block;
    width: 8rem;
    height: 8rem;
}

.intro-tecnologias > img:nth-child(7) {
    grid-column: 2; 
}


@keyframes cursor {
    50% {
        opacity: 0;
    }
} 

@media (max-width: 480px) {
    .introducao {
        margin-bottom: 8rem;
        min-height: auto;
    }

    .introducao-content {
        flex-direction: column;
        align-items: center;
        gap: 8rem;
    }

    .introducao-texto {
        width: 100%;
    }

    .cargo > p {        
        font-size: 5rem;
        line-height: 6rem;
        letter-spacing: 0;
    }
}

@media (max-width: 360px) {
    .cargo > p {        
        font-size: 4rem;
        line-height: 5rem;
        letter-spacing: 0;
    }
}