.projeto-destaque {
    padding: 4rem 0;
    height: 100vh;
}

.projeto {
    width: 100%;
    display: flex;
    margin-top: 4rem;
    gap: 5rem;
    transition: transform 0.2s;
}

.img-projeto,
.desc-projeto {
    flex: 1;
}

.img-projeto > img {
    width: 100%;
    border-radius: 1rem;
}

.desc-projeto {
    display: flex;
    flex-direction: column;
    justify-content: space-between;   
}

.desc-projeto * {
    color: #eee;
}

.titulo-projeto {
    font-size: 3rem;
    margin-bottom: 2rem;
    color: #ccc;
} 

.texto-descricao {
    font-size: 1.8rem;
}

.box-botoes {
    display: flex;
    gap: 1rem;
}

.img-destaque-mobile {
    display: none;
}

@media (max-width: 480px) {
    .projeto {
        flex-direction: column;
    }

    .img-projeto {
        width: 100%;
    }

    .img-destaque-mobile {
        display: block;
    }

    .img-destaque-desktop {
        display: none;
    }

    .desc-projeto {
        gap: 5rem;
    }

    .titulo-projeto {
        font-size: 2.5rem;
    }
}