.tecnologias {
    width: 100%;
    padding: 4rem 0;
    user-select: none;  
}

.swiper {
    cursor: grab;    
}

.box-tecnologia {
    width: 250px;
    height: 300px;
    padding: 20px;
    font-size: 5rem;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    gap: 2rem;
    margin: 2rem 0 2rem 1rem;
    border-radius: 0rem;
    border: 2px solid #222;
    transition: transform 0.4s;
}

.box-tecnologia:hover {
    transform: scale(1.05);
}

.box-tecnologia > img {
    width: 10rem;
    height: 10rem;
    transition: 0.3s;
}

.box-tecnologia > p {
    color: #222;
    font-size: 3rem;
    font-weight: bold;
    margin-top: 10px;
}

.box-pagination {
    display: flex;
    justify-content: center;
    gap: 2rem;
    margin-top: 2rem;
    padding-top: 1rem;
    position: relative;
}

.prev,
.next {
    cursor: pointer;
    width: 4rem;
    height: 4rem;
    color: #222;
    cursor: pointer;
}

.seta-transparente {
    color: #0000002a;
}

@media (max-width: 480px) {
    .swiper-slide {
        width: 100%;
    }

    .box-tecnologia {
        width: 100%;
        height: 300px;
        padding: 20px;
        margin: 2rem 0 2rem 0rem;
    }

    .box-tecnologia > p {
        font-size: 4rem;        
    }

    .box-tecnologia:hover {
        transform: scale(1.0);
    }

    .box-pagination {
        margin-top: 0rem;
        position: relative;
    }

    .prev,
    .next {
        width: 6rem;
        height: 6rem;
    }
}