* {
    margin: 0;
    padding: 0;
    box-sizing: border-box; 
    font-family: "Coda", serif;  
}

html {
    /* Facilita o cálculo de rem (1rem = 10px) */
    font-size: 62.5%;
}

body {
    background-color: #f1f1f1;  
}

a {
    text-decoration: none;
}

:root {
    --cor-titulo: #222;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
}

@media (max-width: 480px) {
    .container {        
        max-width: 90%;
        margin: 0 auto;
    }
}